<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlahBlog</title>
   <!--- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
</head>
    
<body>
   <div>
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/dashboard">Dashboard</a>
                    {{!-- {{#if login}}
                    <a class="link" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}} --}}
                </nav>          
          </div>
    <main>
     {{{body}}}
    </main>
    {{!-- {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}} --}}

</body>
</html>